{{#each model as |book|}}
  <div class="col-md-4">
    {{#paper-card as |card|}}
      {{#card.title as |title|}}
        {{#title.text as |text|}}
          {{#text.headline}}{{book.title}}{{/text.headline}}
          {{#text.subhead}}{{if book.isAvailable 'Available' 'Not Available'}}{{/text.subhead}}
          {{#if book.person_name}}
            {{book.person_name}} took this book.
          {{/if}}
        {{/title.text}}
        {{title.media size="lg" src=book.image alt="Tomster" title="Tomster"}}
      {{/card.title}}
      {{#card.actions}}
        {{#paper-button onClick=(transition-to 'books.edit' book) }}Edit{{/paper-button}}
        {{#if book.isAvailable}}
          {{#paper-button primary=true onClick=(transition-to 'issue.add' book.id) }}Issue{{/paper-button}}
        {{else}}
          {{#paper-button warn=true onClick=(route-action 'collectBook' book) }}Collect{{/paper-button}}
        {{/if}}
      {{/card.actions}}
    {{/paper-card}}
  </div>
{{/each}}
<div class="col-md-4">
  {{#paper-card as |card|}}
    {{#card.title as |title|}}
      {{#title.text as |text|}}
        {{#text.headline}}Add new book{{/text.headline}}
      {{/title.text}}
      {{#paper-button iconButton=true raised=true onClick=(transition-to 'books.new')}}{{paper-icon "add"}}{{/paper-button}}
    {{/card.title}}
  {{/paper-card}}
</div>
